<li>
    <%= comment.content %> by <%= comment.user.name %> 
    <% if (locals.user && locals.user.id == comment.user.id) { %>
        <form action="/comments/destroy/<%= comment.id %>" method="POST">
            <small>
                <input type="submit" value="Delete">
            </small>
        </form>
    <% } %>

</li>