<li id="post-comment-<%= comment.id%>">
    <%= comment.content %> by <%= comment.user.name %> 
    <% if (locals.user && locals.user.id == comment.user.id) { %>
        <a href="/comments/destroy/<%= comment.id %>" class="post-comment-delete-button">X</a>
    <% } %>
</li>