 <!-- This is called Partials  -->
<link rel="stylesheet" href="/css/header.css">
<header>
    <p><span>&lt;</span>codial<span>&sol;&gt;</span></p>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <% if(locals.user) { %>
            <li>
                <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>
            <li>
                <a href="/users/sign-in">Sign in</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign up</a>
            </li>
        <% } %>
    </ul>
</header>
