header{
    background-color: #2a9df4;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    p{
        color: #020002;
        font-family: monospace;
        font-weight: 600;
        font-size: 2rem;
    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            font-weight: 600;
            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                color:yellow;
                transition: all 0.5s ;
            }
        }
        li:first-child{
            margin-right:1rem;
        }
    }
}