* {
  margin: 0;
  padding: 0; }

header {
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid black;
  width: fit-content;
  margin: auto; }

footer {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem; }
